int testConditional(bool b){
   int x; 
   if (b){
       x = 42;
   }
   else{
       x = 17;
   }
   return x;
}

int main(){
    put_int(test(Conditional(true));
    put_int(test(Conditional(false));
    return 0;
}
