int testConditional(bool b){
   int x; 
   if (b){
       x = 12;
   }
   else{
       x = 17;
   }
   return x;
}

int main(){
    put_int(testConditional(true));
    put_int(testConditional(false));
    return 0;
}
